@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-bold leading-tight dark:text-slate-200;
}

h2 {
  @apply text-2xl font-bold leading-tight dark:text-slate-200;
}

h3 {
  @apply text-xl font-bold leading-tight dark:text-slate-200;
}

:root {
  @apply dark:text-slate-200 dark:bg-slate-600;
  @apply source-sans-3-root-font;
}
th {
  @apply text-end align-top;
}

.source-sans-3-root-font {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
